/*
*  Form Element
*/
.form-wrap {
    margin-bottom: 22px;
    label {
        display: block;
        font-size: 18px;
        color: @rating-text;
        line-height: 24px;
        margin-bottom: 25px;
        font-family: 'robotolight';
    }
    input {        
        font-size: 16px;
        color: @header-bg;
        // font-weight: 300;
        line-height: 1;
        padding: 5px 5px 10px 0px;
        display: block;
        border:0;
        width: 100%;
        background: none;
        outline: none;
        // font-family: 'robotolight';
        border-bottom: 1px solid @form-bdr;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        border-radius: 0;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-text-fill-color: #fff;
        -webkit-box-shadow: 0 0 0px 1000px transparent inset;
        transition: background-color 5000s ease-in-out 0s;
    }
    input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:   @placeholder-clr;
    }
    input:focus::-webkit-input-placeholder {
        color:   @transparent;
    }
    input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    @placeholder-clr;
        opacity:  1;
    }
    input:focus:-moz-placeholder {
        color:   @transparent;
    }
    input::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    @placeholder-clr;
        opacity:  1;
    }
    input:focus::-moz-placeholder {
        color:   @transparent;
    }
    input:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color:    @placeholder-clr;
    }
    input:focus:-ms-input-placeholder {
        color:   @transparent;
    }
    input::-ms-input-placeholder { /* Microsoft Edge */
        color:    @placeholder-clr;
    }
    input:focus::-ms-input-placeholder {
        color:   @transparent;
    }
    .field-country {
        width: 11%;
        display: inline-block;
    }
    .field-mobile {
        width: 89%;
        display: inline-block;
    }
    .field-country-disabled, 
    .field-mobile-disabled {
         color: @review-text;
    }
}
input[type="submit"],input[type="button"] {
    font-family: 'robotoregular';
    font-size: 14px;
    color: @submit-btn-clr;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    border:1px solid @submit-bdr;
    background: transparent;
    text-align: center;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
}
.input-feedback-message {
    color: #999;
    margin: 10px 0;
    font-size: 12px;
    text-align: center;
}
.field-error {
	color: @rating-color;
    margin: 5px 0;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}