@import 'common.less';
.login-wrapper {
	background: @body-bg;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 2;
}
#root {
	height: 100%;
	> div {
		height: 100%;
	}
}
.login-link {
	position: relative;
	display: block;
	width: 100%;
	margin-top: 30px;
    font-size: 14px;
    color: @white;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    border: 0;
    background: @header-bg;
    text-align: center;
    padding: 10px;
	line-height: 1.4;
	text-transform: uppercase;
    outline: none;
	margin-bottom: 10px;
	.loading-dots {
		margin-top: 0px;
	}
}
.login-link-disabled {
	background: @submit-btn-disabled;
	color: @white;
	border: 1px solid transparent;
	cursor: not-allowed;
}
.login {
	background: url('//static.fabhotels.com/hotelier/assets/img/login_bg_v1.jpg')left top no-repeat;
	background-size: 100%;
	background-color: @body-bg;
	padding: 180px 16px 40px 16px;
	position: relative;
	overflow: hidden;
	.login-form {
		position: relative;
		animation-delay: 0.3s;
		-moz-animation-delay: 0.3s;
		-webkit-animation-delay: 0.3s;
		-webkit-animation-duration: 0.5s;
		-moz-animation-duration: 0.5s;
		-o-animation-duration: 0.5s;
		animation-duration: 0.5s;
		overflow: hidden;
		h4 {
			font-size: 14px;
			line-height: 18px;
			color: @review-text;
			text-align: center;
		}
	}
	&:before{
		 content:"";
         position: absolute;;
         left:0;
         top:0px;
         width:100%;
         height:336px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e4e8ec+0,e4e8ec+31,e4e8ec+64,f0f3f7+85&0+0,0.33+32,0.76+65,1+85 */
		background: -moz-linear-gradient(top, rgba(228,232,236,0) 0%, rgba(228,232,236,0.32) 31%, rgba(228,232,236,0.33) 32%, rgba(228,232,236,0.75) 64%, rgba(229,233,237,0.76) 65%, rgba(240,243,247,1) 85%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(228,232,236,0) 0%,rgba(228,232,236,0.32) 31%,rgba(228,232,236,0.33) 32%,rgba(228,232,236,0.75) 64%,rgba(229,233,237,0.76) 65%,rgba(240,243,247,1) 85%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(228,232,236,0) 0%,rgba(228,232,236,0.32) 31%,rgba(228,232,236,0.33) 32%,rgba(228,232,236,0.75) 64%,rgba(229,233,237,0.76) 65%,rgba(240,243,247,1) 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e4e8ec', endColorstr='#f0f3f7',GradientType=0 ); /* IE6-9 */
			
	}
	.logo {
		.sprite-path();
		background-position: -3px -341px;
		background-repeat: no-repeat;
		width: 193px;
		height: 36px;
		display: block;
		margin: 0 auto 15px;
		position: relative;
	}
	h2 {
		font-size: 16px;
		line-height: 22px;
		color: @rating-text;
		text-align: center;
		margin-bottom: 52px;
		position: relative;
	    font-family: 'robotoregular';
	}
	h3 {
		font-size: 12px;
		line-height: 17px;
		color: @header-bg;
		text-align: center;
		margin-bottom: 10px;
		position: relative;
	    font-family: 'robotoregular';
	}
	input[type="submit"],input[type="button"] {
		margin-top: 30px;
	}
	.resend-otp-link {
		font-size: 14px;
	    color: @header-bg;
    	float: right;
		margin-top: 20px;
	}
	.abort-otp-link {
		font-size: 14px;
	    color: @review-text;
    	float: left;
		margin-top: 20px;
	}
	.login-otp-form {
		.form-wrap-otp {
			position: relative;
			.resend-otp-link {
				right: 5px;
				bottom: 8px;
				position: absolute;
				z-index: 2;
				color: @logout-color;
			}
		}
	}
}
.header {
	padding: 16px 20px 16px 15px;
	background: @header-bg;
	-webkit-box-shadow: 0 4px 4px 0 rgba(0,0,0,.23);
	box-shadow: 0 4px 4px 0 rgba(0,0,0,.23);
	position: relative;
	.logo-wrapper {
		float: left;
		.logo {
			.sprite-path();
			background-position: -211px -62px;
			background-repeat: no-repeat;
			width: 130px;
			height: 24px;
			display: block;
			float: left;
			margin-right: 10px;
		}
		h2 {
			float: left;
			font-size: 12px;
			line-height: 17px;
			margin-top: 6px;
			color: rgba(255,255,255,0.7);
			font-family: 'robotoregular';
		}
	}	
	.back-arrow {
		.sprite-path();
		background-position: -70px -1px;
		background-repeat: no-repeat;
		height: 16px;
		width:16px;
		display: block;
		position: absolute;
		left: 16px;
		top:20px;
	}
	h1 {
		text-align: center;
		font-size: 17px;
		line-height: 1;
		color: @white; 
		font-family: 'robotoregular';
		margin: 4px 0 3px;
	}
	.main-nav {
		width: 18px;
		height: 12px;
		cursor: pointer;
		position: absolute;
		right: 16px;
		top:24px;
		span {
			display: block;
			width: 100%;
			height: 2px;
			background: @white;
			position: absolute;
			left: 0;
			z-index: 1;
		}
		span.top {
			top: 0px;
		}
		span.middle {
			top: 5px;
		}
		span.bottom {
			top: 10px;
		}
	}
}
.footer {
	padding: 30px 0 35px;
	text-align: center;
	h4 {
		font-family: 'robotomedium';
		font-size: 12px;
		line-height: 18px;
		color: @heading-color;
		letter-spacing: 0.5px;
		margin-bottom: 10px;
	}
	p {
		font-size: 12px;
		line-height: 18px;
		color: @rating-text;
		padding: 0 16px;
		letter-spacing: 0.5px;
	}
}
.footer-dark {
	background: @page-bg; 
	h4 {
		color: @white;

	}
	p {
		color: @white;
	}
}
.dashboard {
	padding: 100px 16px 2px;
	h3 {
		font-size: 17px;
		line-height: 1;
		margin-bottom: 20px;
		position: relative;
		padding-left: 37px;	
		color: @header-bg;	
	}
	h3.delight-guest {
		animation-delay: 0.2s;
   	    -moz-animation-delay: 0.2s;
        -webkit-animation-delay: 0.2s;
		&:before {
			.sprite-path();
			background-position: -215px -108px;
			background-repeat: no-repeat;
			position: absolute;
			left:0;
			top:-9px;
			height: 27px;
			width: 27px;
			content: "";
			z-index: 1;
		}
	}
	h3.more-benifits {
		animation-delay: 0.2s;
   	    -moz-animation-delay: 0.2s;
        -webkit-animation-delay: 0.2s;
		&:before {
			.sprite-path();
			background-position: -148px -109px;
			background-repeat: no-repeat;
			position: absolute;
			left:0;
			top:-9px;
			height: 27px;
			width: 29px;
			content: "";
			z-index: 1;
		}
	}
	.dashboard-menu-card {
		margin-bottom: 50px;
		ul {			
			li {
				margin-bottom: 8px;
				border-radius: 4px;
				background: @white;
				height: 55px;
				border: 1px solid @rating-bdr;
				a {
					display: inline-block;
					position: relative;
					width: 100%;
					&:before {
						.sprite-path();
						background-position: -311px -2px;
						background-repeat: no-repeat;
						position: absolute;
						right:15px;
						top:22px;
						height: 12px;
						width: 7px;
						content: "";
						z-index: 1;
					}
					.customer-rating {
						color: @rating-color;
						font-size: 35px;
						line-height: 1;
						text-align: center;
						float: left;
						width: 21%;
						display: block;
						padding-top: 10px;
						border-right: 1px solid @rating-bdr;
						height: 54px;
						font-family: 'robotolight';
					}
					.customer-rating-overall {
						color: @rating-color-unique;
					}
					.customer-text {
						color: @rating-text;
						font-size: 15px;
						line-height: 16px;
						float: left;
						width: 79%;
						padding-top: 18px;
						display: block;
						padding-left: 10px;		
					}
					.customer-percentage {
						color: @black;
						font-size: 21px;
						line-height: 1;
						text-align: center;
						float: left;
						width: 21%;
						display: block;
						padding-top: 18px;
						border-right: 1px solid @rating-bdr;
						height: 54px;
					}
					.customer-payment {
						color: @rating-text;
						font-size: 15px;
						line-height: 1;
						padding-left: 10px;
						display: block;
						padding-top: 18px;
						height: 54px;
						width: 100%;
					}
				}
			}
		}
	}
	.dashboard-menu-card + .dashboard-menu-card {
		margin-bottom: 0px;
		// ul {
		// 	li:last-child {
		// 		margin-bottom: 0;
		// 	}
		// }
	}
}
.go-blue {
	background: @page-bg; 
}
.main-container {
	padding-top: 56px;
	h3 {
		font-size: 14px;
		line-height: 1;
		letter-spacing: 0.58px;
		color: @heading-color;
		padding-top: 30px;
		margin-bottom: 5px;
		padding-left: 16px;
		span {
			color: @review-text;
			font-size: 12px;
		}
	}
	.rating-section {
		background: @white;
		padding: 10px 16px;
	}
	.fab-hotels-infoboxes-container { 
		.infobox {
			background: @frm-label;
			.infobox-detail {
				font-size: 11px;
				color: @white;
			}
		}
	}
}
.back-drop {
    position: fixed;
    width: 20%;
    z-index: 99;
    background: transparent;
    height: 100vh;
    left: 0;
    top: 0;
}

.back-drop-hidden {
	width: 0;
}

.sidebar {
	background: @sidebar-bg;
	width:85%;
	height: 100%;
	position: fixed;
	right:0;
	top:0;
	z-index: 4;
	transition: right ease .5s;
    -webkit-transition: right ease .5s;
	.sidebar-header {
		background: @header-bg;
		padding-top: 45px;
		padding-left: 35px;
		padding-bottom: 15px;
		position: relative;
		&:before {
			position: absolute;
			height: 20px;
			width: 100%;
			left:0;
			top:0;
			content: "";
			z-index:1;
			background: rgba(0,0,0,0.2);
		}
		&:after {
			position: absolute;
			height: 139px;
			width: 100%;
			left:0;
			top:20px;
			content: "";
			z-index:1;
			background: rgba(0,0,0,0.2);
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 42%, rgba(0,0,0,0.42) 63%, rgba(0,0,0,0.44) 64%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 42%,rgba(0,0,0,0.42) 63%,rgba(0,0,0,0.44) 64%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(0,0,0,0) 42%,rgba(0,0,0,0.42) 63%,rgba(0,0,0,0.44) 64%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */					
		}
		.profile-wrapper {
			margin-bottom: 35px;
			.profile-pic-wrapper {
				height: 32px;
				width: 32px;
				border-radius: 50%;
				background: @frm-label;
				display: table;
				float: left;
				text-align: center;
				margin-right: 5px;
				span{
					display: table-cell;
					vertical-align: middle;
					font-size: 18px;
					line-height: 1;
					text-transform: uppercase;
				}
			}
			.profile-title {
				float: left;
				span {
					color: @rating-bdr;
					font-size: 10px;
					line-height: 12px;
					font-family: 'robotolight';
					display: block;
					margin-bottom: 5px;
					letter-spacing: 0.77px;
				}
				strong {
					font-size: 13px;
					line-height: 1;
					color: @white;
					letter-spacing: 1.17px;
					text-transform: uppercase;
				}
			}
			
		}
		.hotel-list {
			position: relative;
			z-index: 2;
			
			&:after {
				
				display: inline-block;
				height: 4px;
				position: absolute;
				top: 12px;
				width: 8px;
				right: 16px;
				content: "";
			}
		}

		.hotel-item-down {
			&:after {
				.sprite-path();
				background-position: -354px -71px;
				background-repeat: no-repeat;
			}
		}

		.hotel-item-up {
			&:after {
				.sprite-path();
				background-position: -354px -71px;
				background-repeat: no-repeat;
				-ms-transform: rotateX(180deg); /* IE 9 */
				-webkit-transform: rotateX(180deg); /* Chrome, Safari, Opera */
				transform: rotateX(180deg);
			}
		}
	}
	
	.hotel-list {
		.hotel-pic {
			margin-right: 7px;
			float: left;
			border-radius: 4px;
			height: 30px;
			width: 30px;
			overflow: hidden;
			img {
				height: 100%;
			}
		}
		.hotel-title {
			font-size: 14px;
			line-height: 1.2;
			color: @white;
			max-width: 75%;
			float:left;
			letter-spacing: 0.5px;
		}
	}
	.sidebar-content {
		.hotel-list-container.-hotel-list-hidden {
			max-height: 0;
			transition-duration: .5s;
			-webkit-transition-duration: .5s;
		}
		.hotel-list-container {	
			overflow-y: auto;
			transition-property: all;
			transition-duration: .5s;
			-webkit-transition-duration: .5s;
			max-height: 285px;
			padding-left: 12%;
			border-bottom: 1px solid #DFDFDF;
		}
		.hotel-list {
			padding-top: 20px;
			padding-bottom: 20px;
			position: relative;
			-webkit-transition: all 0.4s;
			-moz-transition: all 0.4s;
			-ms-transition: all 0.4s;
			transition: all 0.4s;
			.hotel-title {
				color: @heading-color;
			}
		}
		.hotel-list + .hotel-list{
			border-top: 1px solid #DFDFDF;
		}
		.hotel-list.active {
			background: rgba(255,255,255,1);
			&:after {
				position: absolute;
				height: 30px;
				width: 3px;
				right:0;
				top:20px;
				content: "";
				z-index:1;
				background: @header-bg;
			}
		}
		.hotel-list:active {
			position: relative;
			top: 1px;
		}
	}
	.sidebar-link {
		padding-left: 35px;
		padding-top: 15px;
		li {
			margin-bottom: 10px;
			a {
				 font-family: 'robotoregular';
				color: @review-text;
				font-size: 14px;
				line-height: 1;
				display: block;
				padding-top: 10px;
				padding-bottom: 10px;
				 
			}
			a.active {
				color: @header-bg;
				font-family: 'robotomedium';
			}
			a:active {
				position: relative;
				top:2px;
			}
		}
	}
	.logout {
		color: @logout-color;
		font-size: 14px;
		line-height: 1;
		right: 15px;
		bottom: 40px;
		position: absolute;
		z-index: 1;
	}
}

.sidebar-hidden {
	right: -100%;
	transition: right ease .5s;
	-webkit-transition: right ease .5s;
}
.infotabs-container {
	padding: 30px 0 0 0;
	.infotabs {
		padding: 0 16px;
		margin-bottom: 25px;
		a {
			float: left;
			width: 32%;
			color: @review-text;
			font-size: 11px;
			line-height: 28px;
			height: 30px;
			border-radius: 4px;
			border: 1px solid @tab-bdr;
			text-align: center;
			position: relative;
			-webkit-transition: all 0.4s;
			-moz-transition: all 0.4s;
			-ms-transition: all 0.4s;
			transition: all 0.4s;
		}
		a + a {
			margin-left: 2%;
		}
		a.selected {
			background: @header-bg;
			color: @white;
			&:after {
				position: absolute;
				height: 0;
				width: 0;
				left:50%;
				bottom:-7px;
				margin-left: -8px;
				content: "";
				z-index:1;
				border-top: 8px solid @header-bg;
				border-left: 8px solid transparent;
				border-right: 8px solid transparent;
			}
		}
		a:active {
			position: relative;
			top: 1px;
		}
		
	}
	.infotabs.infotab-count-2 {
		a {
			width: 49%;
		}
	}
	.infotabs.infotab-count-4 {
		a {
			width: 23%;
		}
	}
	.infotable-content {
		p {
			color: @black;
			font-size: 15px;
		}
	}
	.loading-dots {
		padding-top: 150px;
		margin-top: 0;
	}
}

.infobox {
	float: left;
	width: 47%;
	background: @header-bg;
	padding: 10px;
	border-radius: 4px;	
	.infobox-detail {
		display: block;
		font-size: 11px;
		line-height: 1;
		color: @white;
		font-family: 'robotoregular';
		margin-bottom: 7px;
	}
	span {			
		color: @white;
	}
	.infobox-count {
		font-size: 30px;
		line-height: 1;
		font-family: 'robotolight';
		display: inline-block;
		margin-right: 3px;
	}
	.infobox-subtext {
		font-size: 12px;
		line-height: 1;
		font-family: 'robotomedium';
		display: inline-block;
		.fab-logo {
			.sprite-path();
			background-position: -254px -352px;
			background-repeat: no-repeat;
			width: 64px;
			height: 12px;
			display: block;
			margin-bottom: 2px;
		}
	}
}
.infobox + .infobox{
	margin-left: 6%;
}
.fab-hotels-infoboxes-container {
	.infobox {
		.infobox-count {
				color: @header-bg;
			}
			.infobox-subtext {
				color: @header-bg;
			}
		}
}
.customer-review {
	margin-bottom: 5px;
	padding: 10px 15px;
	background: @white;
	strong {
		display: block;
		font-size: 12px;
		line-height: 1;
		color: @review-text;
		font-family: 'robotolight';
		margin-bottom: 9px;
		text-transform: capitalize;
	}

	p{
		color: @heading-color;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.5px;
			font-family: 'robotoregular';
	}
}
.customer-review-star {
	font-family: 'robotolight';
	font-size: 14px;
	line-height: 1;
	color: @review-text;
	margin-bottom: 10px;
	.customer-review-icon {
		.sprite-path();
		background-position: -215px -19px;
		background-repeat: no-repeat;
		display: inline-block;
		height: 13px;
		overflow: hidden;
		position: relative;
		top: 2px;
		width: 77px;
		margin-right: 10px;
		span {
			.sprite-path();
			background-position: -215px -2px;
			background-repeat: no-repeat;
			display: block;
			height: 13px;
			width: 20%;
		}
	}
}
table {
	width: 100%;
}
.infotable-content {
	th {
		font-size: 14px;
		line-height: 16px;
		color: @review-text;
		padding: 10px;
		width: 25%;
	}
	th:nth-child(2) {
		width: 35%;
	}
	th:nth-child(3) {
		width: 40%;
	}
	tbody {
		tr {
			border-bottom: 1px solid @table-bdr;
		}
	}
	td {
		background: @white;
		font-size: 12px;
		line-height: 14px;
		color: @heading-color;
		text-align: center;
		padding: 16px 10px;
		width: 25%;
	}
	td:nth-child(2){
		width: 35%;
	}
	td:nth-child(3){
		width: 40%;
	}
}
.pay-at-hotel-table {
	.infotable-content {
		th {
			width: 40%;
			text-align: left;
			padding-left: 20px;
		}
		th:nth-child(2) {
			width: 60%;
		}
		td {
			width: 40%;
			text-align: left;
			padding-left: 20px;
			span {
				font-size: 20px;
				line-height: 1;
				color: #19346b;
			}
		}
		td:nth-child(2){
			width: 60%;
		}
	}
}
.properties-list {
	h2 {
		font-size: 16px;
		line-height: 22px;
		color: @header-bg;
		text-align: center;
		margin-bottom: 52px;
		position: relative;
	    font-family: 'robotoregular';
	}
	h3 {
		font-size: 12px;
		line-height: 17px;
		color: @rating-text;
		text-align: center;
		margin-bottom: 10px;
		position: relative;
	    font-family: 'robotoregular';
	}
}
.login-wrapper-slider {
	.login {
		padding-right: 0;
	}
}
.homepage-slider-wrapper {
	padding-top: 25px;
	margin-right: -16px;
	position: relative;
	h3 {
		font-size: 21px;
		line-height: 1;
		letter-spacing: 0.1px;
		color: @header-bg;
		text-align: left;
		margin-bottom: 15px;
	}
	.homepage-slider {
		margin-right: 10px;
		border-radius: 4px;
		overflow: hidden;
		.slider-img {
			min-height: 96px;
			img {
				width: 100%;
				height: 96px;
			}
		}
		.slider-caption {
			background: @white;
			padding: 10px;
			font-size: 10px;
			line-height: 12px;
			color: @slider-text-clr;
			word-wrap: break-word;
			min-height: 44px;
		}
	}
	.homepage-slider:active {
		position: relative;
		top: 3px;
	}
	.properties-section {
		// padding-top: 25%;
		text-indent: -16px;
		text-align: center;
		h3 {
			font-size: 17px;
			line-height: 1;
			color: @header-bg;
			text-align: center;
			letter-spacing: 0.4px;
			margin-bottom: 30px;
		}
		p {
			font-size: 14px;
			line-height: 1;
			color: @review-text;
			letter-spacing: 0.33px;
		}
	}
}

.modal {
    position: fixed;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    background: #fff;
    border-radius: 4px;
    z-index: 999;
	width: 90%;
	overflow: hidden;
	text-align: center;
}
.overlay {
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: rgba(0,0,0,0.8);
}
.overlay-hidden {
	width: 0;
}
.date-picker {
	.date-picker-header {
		background: @body-bg;
		h2 {
			color: @datepicker-title;
			font-size: 16px;
			line-height: 1;
			letter-spacing: 0.5px;
			text-align: center;
			padding: 20px 10px;
		}
	}
	.select-year {
		position: relative;
		padding: 23px 0;
		width: 100%;
		margin: 0 auto;
		border-bottom:1px solid #DFDFDF;
		.select-data {
			font-size: 12px;
			line-height: 20px;
			color: @review-text;
			text-align: center;
			text-transform: uppercase;
		}
		.select-arrow {
			position: absolute;
			width: 25px;
			height: 25px;
			cursor: pointer;
			.sprite-path();
			background-position: -384px -65px;
			background-repeat: no-repeat;
			display: block;
			overflow: hidden;
			text-indent: -9999px;
			border: 0;
			z-index: 2;
			outline: none;
			top: 52%;
			margin-top: -13px;
		}
		.select-prev {
			left: 32%;
		}
		.select-next {
			right: 32%;
			 -ms-transform: rotate(180deg); /* IE 9 */
			-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
			transform: rotate(180deg);
			top: 50%;
		}
		.select-arrow.disabled {
			opacity: 0.3;
		}
		.select-arrow:active {
			top: 53%;
		}
		.select-next:active {
			top: 51%;
		}
	
	}
	.select-month {
		max-height: 273px;
		overflow-y: auto;
		margin-top: 15px;
		li {
			margin-bottom: 20px;
			text-align: center;
			font-size: 17px;
			line-height: 1;
			letter-spacing: 0.14px;
			color: @black;
			&:active {
				position: relative;
				top: 3px;
			}
			div {
				display: inline-block;
			}
		}
	}
}
.loader {
  text-align:center;
  position:fixed;
  left:0;
  height:100%;
  width:100%;
  top:0;
  z-index:2;
  background: url('//static.fabhotels.com/hotelier/assets/img/loader.gif') center center no-repeat rgba(0,0,0,0.9);
}

.loader-progressbar {
    position: fixed;
    top: 56px;
    z-index: 99;
    height: 3px;
    width: 100%;
}
.loader-progressbar:before {
    -webkit-animation: progress 1s forwards;
    -moz-animation: progress 1s forwards;
    -ms-animation: progress 1s forwards;
    animation: progress 1s forwards;
     -webkit-animation-iteration-count: infinite; 
     -ms-animation-iteration-count: infinite; 
     -o-animation-iteration-count: infinite; 
     animation-iteration-count: infinite; 
     width: 1%;
     position:absolute;
     right:50%;
     top:0;
     content:"";
     background:#fddb07;
     height:1px;
}
.loader-progressbar:after {
    -webkit-animation: progress 1s forwards;
    -moz-animation: progress 1s forwards;
    -ms-animation: progress 1s forwards;
    animation: progress 1s forwards;
    -webkit-animation-iteration-count: infinite; 
     -ms-animation-iteration-count: infinite; 
     -o-animation-iteration-count: infinite; 
     animation-iteration-count: infinite; 
     width: 1%;
     position:absolute;
     left:50%;
     top:0;
     content:"";
     background:#fddb07;
     height:1px;
}
@-webkit-keyframes progress { 
    from { }
    to { width: 50% }
}
@-moz-keyframes progress { 
    from { }
    to { width: 50% }
}
@-ms-keyframes progress { 
    from { }
    to { width: 50% }
}
@keyframes progress { 
    from { }
    to { width: 50% }
}
.container {
	margin-bottom: 129px;
}
html {
	min-height: 100%;
	position: relative;
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
	z-index: 1;
}
@-webkit-keyframes dot-keyframes {
  0% {
    opacity: .4;
    transform: scale(1, 1);
  }

  50% {
    opacity: 1;
    transform: scale(1.2, 1.2);
  }

  100% {
    opacity: .4;
    transform: scale(1, 1);
  }
}
@-moz-keyframes dot-keyframes {
  0% {
    opacity: .4;
    transform: scale(1, 1);
  }

  50% {
    opacity: 1;
    transform: scale(1.2, 1.2);
  }

  100% {
    opacity: .4;
    transform: scale(1, 1);
  }
}
@-ms-keyframes dot-keyframes {
  0% {
    opacity: .4;
    transform: scale(1, 1);
  }

  50% {
    opacity: 1;
    transform: scale(1.2, 1.2);
  }

  100% {
    opacity: .4;
    transform: scale(1, 1);
  }
}
@keyframes dot-keyframes {
  0% {
    opacity: .4;
    transform: scale(1, 1);
  }

  50% {
    opacity: 1;
    transform: scale(1.2, 1.2);
  }

  100% {
    opacity: .4;
    transform: scale(1, 1);
  }
}
.loading-dots {
  text-align: center;
  width: 100%;
  margin-top: 30px;
  &--dot {
    animation: dot-keyframes 1.5s infinite ease-in-out;
    background-color: #fff;
    border-radius: 10px;
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-right: 5px;
    &:nth-child(2) {
      animation-delay: .5s;
    }
    &:nth-child(3) {
      animation-delay: 1s;
    }
  }
}

.loader-blue {
	.loading-dots--dot {
		background-color: #1d2549;
	}
}

.help-container {
	padding: 81px 16px 25px;
	h3 {
		font-size: 24px;
		color: #333;
		padding-bottom: 10px;
	}
	p{
		font-size: 14px;
		line-height: 20px;
		color: #777;
		margin-bottom: 20px;
	}
	a{
		color: #3d80db;
	}
}

.see-more {
	font-size: 12px;
	line-height: 1;
	letter-spacing: 0.5px;
	color: @logout-color;
	margin-top: 10px;
	display: inline-block;
}

.info-rows-container {
	padding-bottom: 20px;
	.info-rows-heading {
		padding-bottom: 10px;
	}
	.info-rows-heading h4 {
		padding: 0 5px 0 16px;
		font-size: 12px;
		line-height: 1;
		color: @heading-color;
		margin-bottom: 10px;
	}
	.info-rows-data {
		padding: 20px 16px 10px;
		min-height: 310px;
		background: @white;
		ul {
			li {
				margin-bottom: 10px;
				-webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
				-ms-box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
				-o-box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
				box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
				border-radius: 4px;
				text-align: center;
				.info-date {
					float: left;
					width:50%;
					background: @body-bg;
					font-size: 12px;
					line-height: 1;
					color: @heading-color;
					padding: 19px 5px 18px;
				}
				.info-room {
					float: left;
					width:50%;
					color: @datepicker-title;	
					padding: 10px 5px;		
					.info-room-count {
						font-size: 29px;
						line-height: 1;
					}
					.info-room-room {
						font-size: 14px;
						line-height: 16px;
					}
				}
			}
		}
	}
	.loading-dots {
		padding-top: 150px;
		margin-top: 0;
	}
}
.info-rows-popup {
	.info-rows-header {
		background: @body-bg;
		padding: 16px;
		text-align: left;
		h4 {
			.date {
				font-size: 12px;
				line-height: 1;
				color: @heading-color;
			}
			.count {
				font-size: 16px;
				line-height: 1;
				color: @datepicker-title;
				border-left: 1px solid @datepicker-title;
				display: inline-block;
				margin-left: 10px;
				padding-left: 10px;
				margin-right: 8px;
			}
			.rooms {
				font-size: 12px;
				line-height: 1;
				color: @datepicker-title;
			}
		}
	}
	.info-rows-content {
		background: @white;
		padding: 20px 16px;
		.info-rows-content-header {
			padding-bottom: 8px;
			text-align: left;
			.info-rows-content-header-first {
				color: @heading-color;
				font-size: 12px;
				line-height: 1;
				width: 34%;
				float: left;
			}
			.info-rows-content-header-second {
				color: @heading-color;
				font-size: 12px;
				line-height: 1;
				width: 66%;
				float: left;
			}
		}
		.info-rows-content-section {
			max-height: 360px;
			overflow-y: auto;
			ul {
				li {
					padding: 16px 0;
					border-top: 1px solid #DFDFDF;
					span {
						font-size: 12px;
						line-height: 14px;
						color: @rating-text;
						text-align: left;
					}
					.room-no {
						width: 34%;
						float:left;
					}
					.room-disc {
						width: 66%;
						float: left;
					}
				}
			}
		}
	}
	.info-rows-footer {
		background: @body-bg;
		color: @rating-text;
		text-align: center;
		font-size: 14px;
		letter-spacing: 0.5px;
		font-family: 'robotomedium';
		padding: 18px 5px;
		text-transform: uppercase;
	}
}
.info-rows-popup.modal {
	max-width: none;
	width: 88%;
}

.graph-container {
	.graph-heading {
		padding-bottom: 10px;
	}
	.graph-heading h4 {
		display: inline-block;
		padding: 0 5px 0 16px;
		font-size: 12px;
		line-height: 1;
		color: @graph-heading;
		margin-bottom: 10px;
	}
	.graph-data {
		padding: 0 16px 30px;
		min-height: 310px;
		background: @white;
	}
	.graph-average {
		background: #fff;
		font-size: 13px;
		color: #999999;
		text-align: center;
		padding: 5px 10px 15px 10px;
	}
	.loading-dots {
		padding-top: 120px;
		margin-top: 0;
	}
	span {
		font-size: 12px;
		color: @black;
	}

	canvas {
		background-color: #fff;
		padding: 25px 15px 25px 10px;
	}
}
.graph-section {
	position: relative;
	.graph-datepicker {
		z-index: 1;
		bottom: 45px;
		width: 100%;
		.select-year {
			border-bottom: 0;
			padding: 0;
			.select-arrow {
				top: 60%;
			}
			.select-next {
				top: 50%;
			}
		}
	}
}

.toast {
	position: fixed;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    z-index: 999;
    padding: 2% 4%;
    width: 92%;
    overflow: hidden;
    text-align: center;
	.toast-msg {
		color: #fff;
		font-size: 15px;
		line-height: 1.25;
	}
}
.toast-hidden {
	display: none;
}
.empty-screen-container {
	max-width: 180px;
	width: 100%;
	margin: auto;
	text-align: center;
	padding: 0px 0 30px;
	min-height: 270px;
	.generic-empty-icon {
		.sprite-path();
		background-position: 0px -174px;
		background-repeat: no-repeat;
		display: block;
		height: 124px;
		width: 124px;
		margin: 0 auto 20px;
	}
	h2 {
		font-size: 17px;
		line-height: 25px;
		color: @header-bg;
		margin-bottom: 10px;
	}
	p {
		font-size: 12px;
		line-height: 15px;
		color: @rating-text;
	}
}
.no-undermaintenance-container {
	max-width: 270px;
	width: 100%;
	margin: auto;
	text-align: center;
	padding: 0px 0 30px;
	min-height: 270px;
	.no-undermaintenance-icon {
		.sprite-path();
		background-position: -167px -175px;
		background-repeat: no-repeat;
		display: block;
		height: 124px;
		width: 124px;
		margin: 0 auto 20px;
	}
	h2 {
		font-size: 17px;
		line-height: 25px;
		color: @header-bg;
		margin-bottom: 10px;
	}
	p {
		font-size: 12px;
		line-height: 15px;
		color: @rating-text;
	}
}
.scroll-top-btn {
	.sprite-path();
	background-position: -69px -105px;
	background-repeat: no-repeat;
	height: 44px;
	width:44px;
	color: white;
	position: fixed;
	right: 20px;
	bottom: 60px;
	z-index: 2;
	text-indent: -9999px;
}
.tick line {
	stroke: #ebebeb;
    stroke-width: 0.7px;
  }

  .tick text {
	  stroke: #dfdfdf;
	font-size: 12px;
  }

  .domain {
	stroke: #ebebeb;
	stroke-width: 0.7px;
  }

  .grid .domain {
	stroke: #ededed;
	stroke-width: 0.7px;
  }

  path {
	fill: none;
	stroke: #a3d6d2;
}
circle {
	fill:@white;
	stroke:transparent;
}

.svg-container {
	padding: 30px 0;
	background: #fff;
	text-align: center;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

.area {
    fill: url(#area-gradient);
    stroke-width: 0;
}
.confirm-box-cntr  {
	h2 {
		font-size: 14px;
		line-height: 1;
		letter-spacing: 0.5px;
		color: #777777;
		padding: 40px 0;
	}
	.confirm-box-wrapper {
		border-top: 1px solid #c8c7c3;
		div {
			float: left;
			width: 50%;
			font-size: 14px;
			line-height: 1;
			color: #838383;
			letter-spacing: 0.5px;
			text-transform: uppercase;
			text-align: center;
			padding: 20px 0;
		}
		div + div {
			border-left: 1px solid #c8c7c3;
		}
	}
}

.fixed-header {
	position: fixed;
	width: 100%;
	left: 0;
	z-index: 2;
}

@media screen and (max-width: 375px) {
	.login {
		padding-top: 185px;
	}

 }
@media screen and (max-width: 360px) {
	// .login {
	// 	padding-top: 235px;
	// }
	
}
@media screen and (max-width: 330px) {
	.login {
		padding-top: 158px;
	}
    .login:before {
		height: 260px;
		background: -moz-linear-gradient(top, rgba(228,232,236,0) 0%, rgba(228,232,236,0.32) 20%, rgba(228,232,236,0.33) 32%, rgba(228,232,236,0.75) 64%, rgba(229,233,237,0.76) 65%, rgba(240,243,247,1) 85%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(228,232,236,0) 0%,rgba(228,232,236,0.32) 20%,rgba(228,232,236,0.33) 32%,rgba(228,232,236,0.75) 64%,rgba(229,233,237,0.76) 65%,rgba(240,243,247,1) 85%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(228,232,236,0) 0%,rgba(228,232,236,0.32) 20%,rgba(228,232,236,0.33) 32%,rgba(228,232,236,0.75) 64%,rgba(229,233,237,0.76) 65%,rgba(240,243,247,1) 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e4e8ec', endColorstr='#f0f3f7',GradientType=0 ); /* IE6-9 */
	}
	.login h2 {
		margin-bottom: 30px;
	}
	.form-wrap label {
		font-size: 16px;
		line-height: 20px;
	}
	.form-wrap .field-country {
		width: 14%;
	}
	.form-wrap .field-mobile {
		width: 86%;
	}
}
	
  